@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
* {
  font-family: "Pretendard-Regular";
}

h3 {
  font-size: 20px;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* font-family: 'NanumSquare'; */
#All {
  padding-top: 65px;
}

#map {
  width: 100%;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e5e5e5;
}
#map .map-wrap {
  width: 1400px;
  margin: 0 auto;
  padding: 10px 0;
}
#map .map-wrap ul {
  display: flex;
}
#map .map-wrap ul li {
  font-size: 12px;
}
#map .map-wrap ul li a img {
  width: 20px;
  height: 20px;
  margin-bottom: -4px;
}

#title {
  width: 100%;
  padding: 50px 0;
}
#title .title-wrap {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#title .title-wrap .title-one img {
  width: 400px;
  height: 600px;
  box-shadow: 7px 10px 10px rgba(0, 0, 0, 0.1);
}
#title .title-wrap .title-two ul {
  display: flex;
}
#title .title-wrap .title-two .title2-1 {
  width: 760px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}
#title .title-wrap .title-two .title2-1 ul:nth-of-type(1) {
  margin-bottom: 7px;
}
#title .title-wrap .title-two .title2-1 ul:nth-of-type(1) li span {
  padding: 3px 4px;
  font-size: 13px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  margin-right: 5px;
}
#title .title-wrap .title-two .title2-1 p {
  margin-bottom: 10px;
}
#title .title-wrap .title-two .title2-1 p b {
  font-size: 25px;
}
#title .title-wrap .title-two .title2-1 p span {
  padding: 0 5px;
  font-size: 12px;
  color: #7da2da;
}
#title .title-wrap .title-two .title2-1 ul:nth-of-type(2) {
  margin-bottom: 10px;
}
#title .title-wrap .title-two .title2-1 ul:nth-of-type(2) li {
  padding-right: 7px;
}
#title .title-wrap .title-two .title2-1 ul:nth-of-type(2) li a {
  font-size: 13px;
}
#title .title-wrap .title-two .title2-1 ul:nth-of-type(2) li span {
  font-size: 13px;
}
#title .title-wrap .title-two .title2-1 ul:nth-of-type(2) li span:after {
  content: "|";
  color: #333;
  margin-left: 7px;
  display: inline-block;
  width: 3.24px;
  height: 17.14px;
}
#title .title-wrap .title-two .title2-1 ul:nth-of-type(2) li:nth-of-type(2) span:after {
  content: "|";
  color: #333;
  margin-left: 7px;
  display: inline-block;
  width: 3.24px;
  height: 17.14px;
}
#title .title-wrap .title-two .title2-1 ul:nth-of-type(3) li:nth-of-type(1) {
  font-size: 20px;
  margin-right: 7px;
}
#title .title-wrap .title-two .title2-1 ul:nth-of-type(3) li:nth-of-type(1) span {
  color: #7da2da;
}
#title .title-wrap .title-two .title2-1 ul:nth-of-type(3) li:nth-child(2) {
  font-size: 13px;
  line-height: 28px;
}
#title .title-wrap .title-two .title2-1 ul:nth-of-type(3) li:nth-child(3) {
  font-size: 13px;
  margin-right: 7px;
  line-height: 28px;
}
#title .title-wrap .title-two .title2-1 ul:nth-of-type(3) li:nth-child(3) span:before {
  content: "|";
  color: #333;
  margin-left: 7px;
  margin-right: 7px;
  display: inline-block;
}
#title .title-wrap .title-two .title2-1 ul:nth-of-type(3) li:nth-of-type(4) {
  margin-right: 7px;
  font-size: 13px;
  line-height: 28px;
}
#title .title-wrap .title-two .title2-1 ul:nth-of-type(3) li:nth-of-type(4) img {
  width: 48px;
  height: 18px;
  margin-bottom: -4px;
}
#title .title-wrap .title-two .title2-1 ul:nth-of-type(3) li:nth-of-type(5) {
  font-size: 13px;
  line-height: 28px;
}
#title .title-wrap .title-two .title2-1 ul:nth-of-type(3) li:nth-of-type(5):before {
  content: "|";
  color: #333;
  margin-left: 7px;
  margin-right: 7px;
  display: inline-block;
}
#title .title-wrap .title-two .title2-2 {
  display: flex;
  font-size: 14px;
}
#title .title-wrap .title-two .title2-2 .sec1 {
  width: 70%;
  padding: 20px 0;
}
#title .title-wrap .title-two .title2-2 .sec1 .sec1-1 {
  font-size: 14px;
  border-bottom: 1px solid #e5e5e5;
}
#title .title-wrap .title-two .title2-2 .sec1 .sec1-1 table {
  border-collapse: collapse;
}
#title .title-wrap .title-two .title2-2 .sec1 .sec1-1 table th {
  width: 100px;
  text-align: left;
  padding-bottom: 15px;
  font-weight: normal;
}
#title .title-wrap .title-two .title2-2 .sec1 .sec1-1 table td {
  padding-bottom: 15px;
}
#title .title-wrap .title-two .title2-2 .sec1 .sec1-1 table tr:nth-of-type(1) th {
  font-weight: normal;
}
#title .title-wrap .title-two .title2-2 .sec1 .sec1-1 table tr:nth-of-type(2) td {
  font-size: 24px;
  color: #ff6666;
}
#title .title-wrap .title-two .title2-2 .sec1 .sec1-1 table tr:nth-of-type(2) td span {
  font-size: 16px;
}
#title .title-wrap .title-two .title2-2 .sec1 .sec1-1 table tr:nth-of-type(3) td {
  font-size: 24px;
  font-weight: bold;
}
#title .title-wrap .title-two .title2-2 .sec1 .sec1-1 table tr:nth-of-type(4) th {
  padding-bottom: 36px;
  font-weight: normal;
}
#title .title-wrap .title-two .title2-2 .sec1 .sec1-2 {
  border-bottom: 1px solid #e5e5e5;
}
#title .title-wrap .title-two .title2-2 .sec1 .sec1-2 table {
  border-collapse: collapse;
}
#title .title-wrap .title-two .title2-2 .sec1 .sec1-2 table th {
  width: 100px;
  text-align: left;
  padding-top: 15px 0;
  font-weight: normal;
}
#title .title-wrap .title-two .title2-2 .sec1 .sec1-2 table td {
  padding: 25px 0;
}
#title .title-wrap .title-two .title2-2 .sec1 .sec1-3 table {
  border-collapse: collapse;
}
#title .title-wrap .title-two .title2-2 .sec1 .sec1-3 table th {
  width: 100px;
  text-align: left;
  padding-top: 15px 0;
  font-weight: normal;
}
#title .title-wrap .title-two .title2-2 .sec1 .sec1-3 table td {
  padding: 20px 0;
}
#title .title-wrap .title-two .title2-2 .sec1 .sec1-3 .sec1-3-1 {
  background-color: #edf5fe;
  padding: 15px;
}
#title .title-wrap .title-two .title2-2 .sec1 .sec1-3 .sec1-3-1 span:first-child {
  margin-right: 7px;
  padding: 4px;
  font-size: 12px;
  background-color: #eea900;
  color: #fff;
}
#title .title-wrap .title-two .title2-2 .sec1 .sec1-3 .sec1-3-1 span:nth-child(2) {
  font-size: 14px;
}
#title .title-wrap .title-two .title2-2 .sec1 .sec1-3 .sec1-3-2 {
  margin-top: 10px;
  color: #666;
}
#title .title-wrap .title-two .title2-2 .sec2 {
  width: 30%;
  height: 447px;
  padding: 20px;
  background-color: #eeeeee;
}
#title .title-wrap .title-two .title2-2 .sec2 .sec2-1 {
  border-bottom: 1px solid #d8d8d8;
}
#title .title-wrap .title-two .title2-2 .sec2 .sec2-1 p {
  font-weight: bold;
  margin-bottom: 20px;
}
#title .title-wrap .title-two .title2-2 .sec2 .sec2-1 .count {
  margin-bottom: 20px;
}
#title .title-wrap .title-two .title2-2 .sec2 .sec2-1 .count span {
  margin-right: 5px;
}
#title .title-wrap .title-two .title2-2 .sec2 .sec2-1 .count button {
  width: 26px;
  height: 26px;
  background-color: #f8f8f8;
  border: 1px solid #e5e5e5;
}
#title .title-wrap .title-two .title2-2 .sec2 .sec2-1 .count #result {
  width: 80px;
  height: 26px;
  margin: 0 -3px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-left: none;
  border-right: none;
  text-align: center;
}
#title .title-wrap .title-two .title2-2 .sec2 .sec2-1 > button:nth-of-type(1) {
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
  background-color: #196ab3;
  color: #fff;
  cursor: pointer;
}
#title .title-wrap .title-two .title2-2 .sec2 .sec2-1 > button:nth-of-type(2) {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #199d83;
  color: #fff;
  cursor: pointer;
}
#title .title-wrap .title-two .title2-2 .sec2 .sec2-2 > ul {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
#title .title-wrap .title-two .title2-2 .sec2 .sec2-2 > ul li {
  padding-top: 5px;
  font-size: 12px;
  color: #666;
}
#title .title-wrap .title-two .title2-2 .sec2 .sec2-2 button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  border: solid 1px #ebebeb;
  border-bottom-color: #d8d8d8;
  border-right-color: #d8d8d8;
  cursor: pointer;
}
#title .title-wrap .title-two .title2-2 .sec2 .sec2-2 button:nth-of-type(1) {
  margin-bottom: 5px;
}

#manybuy {
  width: 100%;
  margin-bottom: 50px;
}
#manybuy .manybuy-wrap {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid #e5e5e5;
}
#manybuy .manybuy-wrap .manybuy-list ul {
  display: flex;
  justify-content: space-between;
}
#manybuy .manybuy-wrap .manybuy-list ul li {
  width: 599px;
  background-color: #f8f8f8;
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
#manybuy .manybuy-wrap .manybuy-list ul li:nth-of-type(1) {
  border-right: 1px solid #e5e5e5;
}
#manybuy .manybuy-wrap .manybuy-list ul li span {
  color: #7da2da;
}
#manybuy .manybuy-wrap .manybuy-list ul .mb-click {
  background-color: #fff;
  border-bottom: none;
}
#manybuy .manybuy-wrap .with-buy ul:nth-of-type(1) {
  padding: 45px 20px;
  display: flex;
  justify-content: space-around;
}
#manybuy .manybuy-wrap .with-buy ul:nth-of-type(1) li {
  width: 140px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#manybuy .manybuy-wrap .with-buy ul:nth-of-type(1) li:nth-child(odd) a img {
  width: 125px;
  height: 125px;
  margin: 60px 0 10px 0;
  border: 1px solid #e5e5e5;
}
#manybuy .manybuy-wrap .with-buy ul:nth-of-type(1) li:nth-child(even) a img {
  width: 125px;
  height: 185px;
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
}
#manybuy .manybuy-wrap .with-buy ul:nth-of-type(1) li .with_buy_text {
  width: 140px;
}
#manybuy .manybuy-wrap .with-buy ul:nth-of-type(1) li .with_buy_text p {
  text-align: left;
}
#manybuy .manybuy-wrap .with-buy ul:nth-of-type(1) li .with_buy_text p:nth-of-type(1) {
  font-weight: bold;
  font-size: 15px;
}
#manybuy .manybuy-wrap .with-buy ul:nth-of-type(1) li .with_buy_text p:nth-of-type(2) {
  font-size: 13px;
  color: #888;
}
#manybuy .manybuy-wrap .with-buy ul:nth-of-type(1) li .with_buy_text p:nth-of-type(3) {
  font-size: 13px;
}
#manybuy .manybuy-wrap .with-buy ul:nth-of-type(2) {
  display: none;
  padding: 45px 20px;
  justify-content: space-around;
}
#manybuy .manybuy-wrap .with-buy ul:nth-of-type(2) li {
  width: 140px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#manybuy .manybuy-wrap .with-buy ul:nth-of-type(2) li:nth-of-type(1) a img {
  width: 125px;
  height: 125px;
  margin: 60px 0 10px 0;
  border: 1px solid #e5e5e5;
}
#manybuy .manybuy-wrap .with-buy ul:nth-of-type(2) li:nth-of-type(3) a img {
  width: 125px;
  height: 185px;
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
}
#manybuy .manybuy-wrap .with-buy ul:nth-of-type(2) li:nth-of-type(5) a img {
  width: 125px;
  height: 140px;
  margin: 45px 0 10px 0;
  border: 1px solid #e5e5e5;
}
#manybuy .manybuy-wrap .with-buy ul:nth-of-type(2) li:nth-child(even) a img {
  width: 125px;
  height: 185px;
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
}
#manybuy .manybuy-wrap .with-buy ul:nth-of-type(2) li .with_buy_text {
  width: 140px;
}
#manybuy .manybuy-wrap .with-buy ul:nth-of-type(2) li .with_buy_text p {
  text-align: left;
}
#manybuy .manybuy-wrap .with-buy ul:nth-of-type(2) li .with_buy_text p:nth-of-type(1) {
  font-weight: bold;
  font-size: 15px;
}
#manybuy .manybuy-wrap .with-buy ul:nth-of-type(2) li .with_buy_text p:nth-of-type(2) {
  font-size: 13px;
  color: #888;
}
#manybuy .manybuy-wrap .with-buy ul:nth-of-type(2) li .with_buy_text p:nth-of-type(3) {
  font-size: 13px;
}

#choice-nav {
  width: 100%;
  background-color: #f8f8f8;
  border-bottom: 1px solid #333;
}
#choice-nav .choice-nav-wrap {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#choice-nav .choice-nav-wrap ul {
  display: flex;
  align-items: center;
}
#choice-nav .choice-nav-wrap ul:first-child li {
  width: 175px;
  height: 64px;
  text-align: center;
  cursor: pointer;
}
#choice-nav .choice-nav-wrap ul:first-child li:nth-of-type(1) {
  border-right: 1px solid #e5e5e5;
}
#choice-nav .choice-nav-wrap ul:first-child li:nth-of-type(2) {
  border-right: 1px solid #e5e5e5;
}
#choice-nav .choice-nav-wrap ul:first-child li a {
  width: 175px;
  height: 64px;
  display: inline-block;
  line-height: 64px;
}
#choice-nav .choice-nav-wrap ul:last-child li {
  padding: 17px 5px;
}
#choice-nav .choice-nav-wrap ul:last-child li:first-child {
  color: #ff6666;
  font-weight: bold;
  font-size: 21px;
}
#choice-nav .choice-nav-wrap ul:last-child li:nth-child(2) button {
  width: 85px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #196ab3;
  color: #fff;
  cursor: pointer;
}
#choice-nav .choice-nav-wrap ul:last-child li:last-child button {
  width: 85px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #199d83;
  color: #fff;
  cursor: pointer;
}
#choice-nav .choice-nav-wrap ul .cho-nav-bg {
  background-color: #333;
}
#choice-nav .choice-nav-wrap ul .cho-nav-font {
  color: #fff;
}

#main {
  width: 100%;
}
#main .main-wrap {
  width: 1200px;
  margin: 0 auto;
}
#main .main-wrap .main-left {
  width: 75%;
}
#main .main-wrap .main-left #series {
  width: 100%;
  margin: 40px 0 75px 0;
}
#main .main-wrap .main-left #series h3 {
  padding-bottom: 13px;
  border-bottom: 2px solid #333;
}
#main .main-wrap .main-left #series > div > div {
  padding: 15px 10px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
}
#main .main-wrap .main-left #series > div > div > a {
  margin-right: 25px;
}
#main .main-wrap .main-left #series > div > div > a img {
  width: 55px;
}
#main .main-wrap .main-left #series > div > div .series-text a {
  font-size: 17px;
  font-weight: bold;
}
#main .main-wrap .main-left #series > div > div .series-text p {
  font-size: 12px;
}
#main .main-wrap .main-left #series > div > div .series-text p span {
  font-size: 14px;
  font-weight: bold;
  color: #ff6666;
}
#main .main-wrap .main-left #bookcard {
  width: 100%;
  padding-bottom: 45px;
}
#main .main-wrap .main-left #bookcard h3 {
  padding-bottom: 10px;
  border-bottom: 2px solid #333;
}
#main .main-wrap .main-left #bookcard .bookcard-wrap {
  width: 900px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-top: 60px;
}
#main .main-wrap .main-left #bookcard .bookcard-wrap .bookcard-arrow {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px 11px;
  border-radius: 60px;
  color: #fff;
  transform: translateY(-50%);
  cursor: pointer;
}
#main .main-wrap .main-left #bookcard .bookcard-wrap .prev {
  top: 50%;
  left: 7px;
}
#main .main-wrap .main-left #bookcard .bookcard-wrap .next {
  top: 50%;
  right: 7px;
}
#main .main-wrap .main-left #bookcard .bookcard-wrap .bookcard-list {
  display: flex;
}
#main .main-wrap .main-left #bookcard .bookcard-wrap .bookcard-list > li img {
  height: 350px;
  margin: 0 26px;
  border-radius: 20px;
  flex-basis: 350px;
}
#main .main-wrap .main-left #introduce {
  width: 100%;
  margin-top: 25px;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}
#main .main-wrap .main-left #introduce h3 {
  padding-bottom: 13px;
  border-bottom: 2px solid #333;
}
#main .main-wrap .main-left #introduce .book-intro {
  background-color: #f8f8f8;
  margin: 45px 0 30px 0;
  padding: 30px;
  border: 1px solid #e5e5e5;
}
#main .main-wrap .main-left #introduce .book-intro h4 {
  padding-bottom: 10px;
}
#main .main-wrap .main-left #introduce .book-intro p {
  font-size: 13.5px;
  font-family: "NanumSquare";
}
#main .main-wrap .main-left #introduce .book-intro1 {
  margin-bottom: 30px;
}
#main .main-wrap .main-left #introduce .book-intro1 p {
  font-family: "NanumSquare";
}
#main .main-wrap .main-left #introduce iframe {
  width: 100%;
  height: 506px;
}
#main .main-wrap .main-left #chapter {
  width: 100%;
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}
#main .main-wrap .main-left #chapter h3 {
  padding-bottom: 10px;
}
#main .main-wrap .main-left #chapter > ul > li {
  font-family: "NanumSquare";
  padding: 5px 0;
}
#main .main-wrap .main-left #chapter > ul > li:last-child {
  padding-top: 13px;
}
#main .main-wrap .main-left #detail-img {
  width: 100%;
  margin: 50px 0;
}
#main .main-wrap .main-left #detail-img img {
  width: 100%;
  border-radius: 20px;
}
#main .main-wrap .main-left #authors {
  width: 100%;
}
#main .main-wrap .main-left #authors h3 {
  padding-bottom: 20px;
  border-bottom: 2px solid #333;
}
#main .main-wrap .main-left #authors .authors-box {
  border: 1px solid #ccc;
  border-radius: 20px;
}
#main .main-wrap .main-left #authors .authors-box > div {
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
}