@charset "utf-8";

@import "common";

@mixin center{
    $center:50%;
    position:absolute;
    top:$center;
    left:$center;
    transform:translate(-$center, -$center);
}
@mixin transform($left){
    $center:50%;
    position:absolute;
    top:$center;
    left:$center;
    transform:translate(-$left,-$center);
}

@mixin transform1($x, $y){
    $center:50%;
    position:absolute;
    top:$center;
    left:$center;
    transform:translate($x, $y);
}

@mixin p_style{
    font-size: 22px;
    line-height: 30px;
    padding-bottom:50px;
}
#main{
    padding-top:65px;
}

#slider{
    width:100%;
    background:linear-gradient(#f8faff 67.5%, #f0f4ff 0%);
    height:810px;
}
.slider-box{
    width:1200px;
    height:810px;
    margin:0 auto;
    position:relative;

    img:nth-of-type(1){
        width:800px;
        @include transform1(-27%, -50%);
    }

    img:nth-of-type(2){
        width:350px;
        position:absolute;
        top:90px;
        left:140px;
    }

    img:nth-of-type(3){
        width:180px;
        position:absolute;
        bottom:120px;
        left:146px;
    }
}

@mixin slide-animation{
    animation-name:slide;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes slide {
    0% {margin-left:0}
    100% {margin-left:-3346px}
};

@mixin slide-animation1{
    animation-name:slide1;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes slide1{
    0% {margin-left:-3346px}
    100% {margin-left:0px}
}

#booklist {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;

    p {
        @include p_style;
    }
}
.slide-box{
    width:1855px;
    margin:0 auto;
    overflow: hidden;

    .first-slide{
        background:url("../img/slide-ani.png") repeat-x;
        height:218px;
        margin-bottom:30px;
        @include slide-animation
    }

    .second-slide{
        background:url("../img/slide-ani1.png") repeat-x;
        height:218px;
        margin-bottom:30px;
        @include slide-animation1
    }

    .third-slide{
        background:url("../img/slide-ani2.png") repeat-x;
        height:218px;
        margin-bottom:80px;
        @include slide-animation
    }
}

#video{
    width:100%;
    height:900px;
    background-color:#f7f7f7;

    .video-box{
        width:1200px;
        height:900px;
        margin:0 auto;
        text-align: center;

        p{
            @include p_style;
        }

        .video-img-box{
            width:730px;
            height:411px;
            margin:0 auto;
            position:relative;
            img:first-child{
                width:100%;
                height:auto;
                margin:0 auto;
            }
            iframe{
                display:none;
                border:none;
            }
            img:last-child{
                width:60px;
                cursor: pointer;
                @include center;
            }
        } 
    }
}

#first-call-book {
    width: 100%;
    height:1950px;
    text-align: center;
    p {
        @include p_style;
    }

    .first-call-book-wrap {
        width: 1159px;
        height: 900px;
        margin: 0 auto;

        .best-all-box {
            width: 1159px;
            margin: 0 auto;

            h3 {
                text-align: left;
                padding: 16px 10px;
            }

            .best-book-wrap {
                display: flex;
                justify-content: space-between;

                .best-box {
                    width: 100%;
                    height: 330px;

                    a {
                        img {
                            width: 155px;
                            border-top-right-radius: 5px;
                            border-bottom-right-radius: 5px;
                        }
                    }

                    h4 {
                        width: 145px;
                        // height:40px;
                        margin:0 0 10px 10px;
                        text-align: left;
                        font-family: 'SUIT-Regular';
                    }
                    h5{
                        margin:0 0 10px 10px;
                        text-align: left;
                        color:#888888;
                        font-family: 'SUIT-Regular';
                    }
                }

                .best-box:nth-of-type(3) {
                    position: relative;

                    .best-box-icon {
                        width: 45px;
                        position: absolute;
                        top: 0;
                        right: 0px;
                    }

                    .best-box-icon1 {
                        width: 45px;
                        position: absolute;
                        top: 30px;
                        right: 0px;
                    }
                }

                .best-box:nth-of-type(6) {
                    position: relative;

                    .best-box-icon {
                        width: 45px;
                        position: absolute;
                        top: 0;
                        right: 0px;
                    }

                    .best-box-icon1 {
                        width: 45px;
                        position: absolute;
                        top: 30px;
                        right: 0px;
                    }
                }
            }
        }
        .new-all-box {
            width: 1159px;
            margin: 0 auto;
            h3 {
                text-align: left;
                padding: 16px 10px;
            }
            .new-book-wrap {
                display: flex;
                justify-content: space-between;
                .new-box {
                    width: 100%;
                    height: 330px;
                    a {
                        img {
                            width: 155px;
                            border-top-right-radius: 5px;
                            border-bottom-right-radius: 5px;
                        }
                    }
                    h4 {
                        width: 145px;
                        // height:40px;
                        margin:0 0 10px 10px;
                        text-align: left;
                        font-family: 'SUIT-Regular';
                    }
                    h5{ 
                        margin:0 0 10px 10px;
                        text-align: left;
                        color:#888888;
                        font-family: 'SUIT-Regular';
                    }
                }
            }
        }
        .audio-all-box {
            width: 1159px;
            margin: 0 auto;
            h3 {
                text-align: left;
                padding: 16px 10px;
            }
            .audio-book-wrap {
                display: flex;
                justify-content: space-between;
                .audio-box {
                    width: 100%;
                    height: 330px;
                    a {
                        img {
                            width: 155px;
                            border-top-right-radius: 5px;
                            border-bottom-right-radius: 5px;
                        }
                    }
                    h4 {
                        width: 145px;
                        // height:40px;
                        margin:0 0 10px 10px;
                        text-align: left;
                        font-family: 'SUIT-Regular';
                    }
                    h5{ 
                        margin:0 0 10px 10px;
                        text-align: left;
                        color:#888888;
                        font-family: 'SUIT-Regular';
                    }
                }
            }
        }
        .romance-all-box {
            width: 1159px;
            margin: 0 auto;
            h3 {
                text-align: left;
                padding: 16px 10px;
            }
            .romance-book-wrap {
                display: flex;
                justify-content: space-between;
                .romance-box {
                    width: 100%;
                    height: 330px;
                    a {
                        img {
                            width: 155px;
                            border-top-right-radius: 5px;
                            border-bottom-right-radius: 5px;
                        }
                    }
                    h4 {
                        width: 145px;
                        // height:40px;
                        margin:0 0 10px 10px;
                        text-align: left;
                        font-family: 'SUIT-Regular';
                    }
                    h5{ 
                        margin:0 0 10px 10px;
                        text-align: left;
                        color:#888888;
                        font-family: 'SUIT-Regular';
                    }
                }
            }
        }
    }
}

@mixin box{
    width: 100%;
    height: 330px;

    a {
        img {
            width: 155px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    h4 {
        width: 145px;
        // height:40px;
        margin:0 0 10px 10px;
        text-align: left;
        font-family: 'SUIT-Regular';
    }
    h5{
        margin:0 0 10px 10px;
        text-align: left;
        color:#888888;
        font-family: 'SUIT-Regular';
    }
}

#second-call-book {
    width: 100%;
    height: 750px;
    text-align: center;

    p {
        @include p_style;
    }

    .second-call-book-ul-wrap{
        width:1159px;
        margin:0 auto;
        ul {
            width: 370px;
            text-align: center;
            display: flex;
            justify-content: space-between;
            margin:0 0 30px 10px;

            li {
                // button {
                    background-color: #fff;
                    border: 1px solid #ccc;
                    border-radius: 40px;
                    padding: 5px 15px;
                    cursor: pointer;
                // }   
            }
            .click{
                color:#fff;
                background-color:#333;
                border:none;
            }
        }
    }
    
    .second-call-book-wrap {
        width: 1159px;
        margin: 0 auto;
        position: relative;

        .book-click{
            position:absolute;
            top:0;
        }
        .money-all-box{
            width:1159px;
            margin: 0 auto;
            .money-book-wrap{
                display: flex;
                justify-content: space-between;
                .box{
                    @include box;
                }
            }
        }
        .english-all-box{
            width:1159px;
            margin:0 auto;
            display:none;
            .english-book-wrap{
                display:flex;
                justify-content: space-between;
                .box{
                    @include box;
                }
            }
        }
        .higasino-all-box{
            width:1159px;
            margin:0 auto;
            display:none;
            .higasino-book-wrap{
                display:flex;
                justify-content: space-between;
                .box{
                    @include box;
                }
            }
        }
        .budongsan-all-box{
            width:1159px;
            margin:0 auto;
            display:none;
            .budongsan-book-wrap{
                display:flex;
                justify-content: space-between;
                .box{
                    @include box;
                }
            }
        }
        .exercise-all-box{
            width:1159px;
            margin:0 auto;
            display:none;
            .exercise-book-wrap{
                display:flex;
                justify-content: space-between;
                .box{
                    @include box;
                }
            }
        }
    }
}

#pick{
    width:100%;
    height:850px;
    text-align: center;
    background-color:#f7f7f7;
    p{
        @include p_style;
    }
    .pick-img-box{
        width:1159px;
        margin:0 auto;
        position: relative;
        img:nth-of-type(1){
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, 2%);
        }
        img:nth-of-type(2){
            width:417px;
            position:absolute;
            top:250px;
            left:355px;
        }
        img:nth-of-type(3){
            width:172px;
            position: absolute;
            top:304px;
            left:80px;
        }
        img:nth-of-type(4){
            width:172px;
            position:absolute;
            top:110px;
            left:130px;
        }
        img:nth-of-type(5){
            width:172px;
            position:absolute;
            top:110px;
            right:160px;
        }
        img:nth-of-type(6){
            width:172px;
            position:absolute;
            top:304px;
            right:80px;
        }
    }
}

#price {
    width: 100%;
    height: 780px;
    background-color: #ffeb60;
    text-align: center;

    p {
        @include p_style;
    }

    .price-box-wrap {
        width: 1159px;
        height: 327px;
        margin: 0 auto;
        background-color: lightgreen;
    }

    .price-box {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .price-one-box {
            width: 327px;
            height: 327px;
            background-color: #fff;
            border-radius: 16px;
            box-shadow: 10px 10px 40px rgb(0 0 0 / 10%);
        }

        .price-two-box {
            width: 327px;
            height: 327px;
            background-color: #fff;
            border-radius: 16px;
            box-shadow: 10px 10px 40px rgb(0 0 0 / 10%);
        }

        .price-third-box {
            width: 327px;
            height: 327px;
            border: 3px solid #ccc;
            .coupon{
                border-bottom:1px solid #fff;
            }
            img{
                width:72px;
                height:72px;
            }
        }
    }
}
